<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.artistworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/a_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/a_ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProjectDetailActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:launchMode="singleTop">

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activities.FavoriteActivity" />

        <provider
            android:name=".data.ProjectContentProvider"
            android:authorities="com.mycompany.artistworld"
            android:exported="false" />

        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LoginActivity" />

        <receiver android:name=".widget.ProjectWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/project_widget_provider_info" />
        </receiver>

        <service android:name=".widget.ProjectService" />
    </application>

</manifest>